[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
mypy = "*"
coverage = "*"
responses = "*"

[packages]
requests = "*"
semantic-version = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "flake8"
type-check = "mypy . --ignore-missing-imports"
test = "coverage run -m unittest discover"
